.page-header {
  height: 75px;
  background: #3a3b44;
}
.page-header .header-container {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  height: 75px;
  color: #fff;
}
.page-header .logo-container {
  margin-right: 66px;
}
.page-header .logo-container .header-logo {
  position: relative;
  top: 50%;
  width: 111px;
  height: 31px;
  transform: translateY(-50%);
}
.page-header .nav-container {
  flex: 1;
}
.page-header .nav-container .nav-link {
  margin-right: 50px;
  font-size: 15px;
  line-height: 75px;
  transition: all .2s;
}
.page-header .nav-container .nav-link:last-child {
  margin-right: 0;
}
.page-header .nav-container .nav-link.active {
  color: #35b558;
}
.page-header .nav-container .nav-link:hover {
  color: #35b558;
}
.page-header .btn-container {
  display: flex;
  align-items: center;
}
.page-header .btn-container .header-btn {
  display: inline-block;
  width: 100px;
  height: 36px;
  border: 1px solid  #58a673;
  border-radius: 5px;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  color: #58a673;
  transition: all .2s;
  margin-right: 20px;
}
.page-header .btn-container .header-btn:last-child {
  margin-right: 0;
}
.page-header .btn-container .header-btn:hover,
.page-header .btn-container .header-btn.active {
  background-color: #58a673;
  color: #fff;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.banner-section {
  background: #3c3d46;
  padding-top: 57px;
  padding-bottom: 84px;
  text-align: center;
}
.banner-section .quote-title {
  font-size: 16px;
  color: #a0aeb9;
}
.banner-section .banner-title {
  margin-top: 36px;
  font-size: 31px;
  font-weight: 400;
  color: #fff;
}
.banner-section .banner-title-decription {
  margin-top: 36px;
  line-height: 30px;
  font-size: 14px;
  color: #58a673;
}
.banner-section .banner-card {
  display: flex;
  justify-content: space-around;
  margin-top: 86px;
}
.banner-section .banner-card .banner-card-item {
  font-size: 18px;
  color: #64646c;
}
.banner-section .banner-card .banner-card-item .banner-card-title {
  margin-top: 27px;
}
.banner-section .banner-btn {
  display: inline-block;
  width: 238px;
  margin-top: 67px;
  border: 1px solid #58a567;
  border-radius: 5px;
  line-height: 51px;
  font-size: 22px;
  color: #58a567;
  transition: all .2s;
}
.banner-section .banner-btn:hover {
  opacity: 0.4;
}
.environment {
  padding-top: 69px;
  padding-bottom: 70px;
  text-align: center;
  background: #41424c;
}
.environment .environment-title {
  margin-bottom: 28px;
  font-size: 32px;
  color: #fff;
}
.environment .environment-title-decription {
  margin-bottom: 57px;
  font-size: 18px;
  color: #b1b1b5;
}
.environment .environment-content {
  display: flex;
}
.environment .environment-content .environment-content-left .environment-content-left-top {
  width: 550px;
  height: 268px;
  border-radius: 3px;
  margin-bottom: 5px;
  background: #fff;
}
.environment .environment-content .environment-content-left .environment-content-left-bottom {
  width: 550px;
  height: 268px;
  border-radius: 3px;
  background: #fff;
}
.environment .environment-content .environment-content-left .environment-left-image {
  transform: translateY(20%);
}
.environment .environment-content .environment-content-middle {
  margin-left: 5px;
  margin-right: 6px;
  justify-content: space-between;
}
.environment .environment-content .environment-content-middle .environment-content-middle-top {
  width: 244px;
  height: 174px;
  border-radius: 3px;
  background: #fff;
}
.environment .environment-content .environment-content-middle .environment-content-middle-center {
  width: 244px;
  height: 171px;
  border-radius: 3px;
  margin-top: 6px;
  margin-bottom: 5px;
  background: #fff;
}
.environment .environment-content .environment-content-middle .environment-content-middle-bottom {
  width: 244px;
  height: 184px;
  border-radius: 3px;
  background: #fff;
}
.environment .environment-content .environment-content-right-top {
  width: 240px;
  height: 174px;
  border-radius: 3px;
  background: #fff;
}
.environment .environment-content .environment-content-right-center {
  width: 240px;
  height: 171px;
  border-radius: 3px;
  margin-top: 6px;
  margin-bottom: 5px;
  background: #fff;
}
.environment .environment-content .environment-content-right-bottom {
  width: 240px;
  height: 184px;
  border-radius: 3px;
  background: #fff;
}
.join-section {
  padding-top: 76px;
  padding-bottom: 30px;
  text-align: center;
}
.join-section .join-title {
  margin-bottom: 34px;
  font-size: 32px;
  color: #404c5f;
}
.join-section .join-title-description {
  margin-bottom: 55px;
  font-size: 18px;
  color: #a0aeb9;
}
.join-section .join-content-item {
  display: flex;
  margin-bottom: 54px;
  text-align: left;
}
.join-section .join-content-item .join-content-item-left {
  display: flex;
}
.join-section .join-content-item .join-content-item-right {
  width: 313px;
  height: 196px;
  margin-left: 156px;
}
.join-section .join-content-item .join-content-item-index {
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 26px;
  line-height: 65px;
  text-align: center;
  font-size: 32px;
  background: #62bd82;
  color: #fff;
}
.join-section .join-content-item .join-item-content {
  width: 440px;
}
.join-section .join-content-item .join-item-content .join-item-content-title {
  line-height: 65px;
  font-size: 28px;
  color: #404c5f;
}
.join-section .join-content-item .join-item-content .join-item-description {
  font-size: 16px;
  color: #3f464b;
}
.scenes-section {
  padding-top: 75px;
  padding-bottom: 74px;
  text-align: center;
  background: #6c6d7a;
}
.scenes-section .scenes-title {
  margin-bottom: 29px;
  font-size: 32px;
  color: #fff;
}
.scenes-section .scenes-title-description {
  margin-bottom: 51px;
  font-size: 18px;
  color: #b1b1b5;
}
.scenes-section .scenes-content {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.scenes-section .scenes-content .scenes-item {
  height: 310px;
  border-radius: 3px;
  margin-right: 25px;
  margin-bottom: 30px;
  background: #fff;
}
.scenes-section .scenes-content .scenes-item:nth-of-type(3) {
  margin-right: 0;
}
.scenes-section .scenes-content .scenes-item:nth-of-type(6) {
  margin-right: 0;
}
.scenes-section .scenes-content .scenes-item-decription {
  margin-top: 11px;
  font-size: 16px;
  color: #6c6d7a;
}
.community-section {
  padding-top: 74px;
  padding-bottom: 70px;
  text-align: center;
  background: #f6f8fa;
}
.community-section .community-title {
  margin-bottom: 28px;
  font-size: 32px;
  color: #404c5f;
}
.community-section .community-title-description {
  margin-bottom: 55px;
  font-size: 18px;
  color: #a0aeb9;
}
.join-us-section {
  padding-top: 74px;
  padding-bottom: 90px;
  text-align: center;
}
.join-us-section .join-us-title {
  margin-bottom: 31px;
  font-size: 32px;
  color: #404c5f;
}
.join-us-section .join-us-description {
  margin-bottom: 67px;
  font-size: 18px;
  color: #a0aeb9;
}
.join-us-section .join-us-contents {
  display: flex;
  justify-content: space-between;
}
.join-us-section .join-us-contents .join-us-content-item {
  width: 235px;
  height: 243px;
  background: #fff;
}
.join-us-section .join-us-contents .join-us-content-item .join-us-image {
  margin: 0 auto;
  width: 160px;
  height: 140px;
  background: #fff;
}
.join-us-section .join-us-contents .join-us-item-title {
  font-size: 18px;
  color: #3f464b;
}
.join-us-section .join-us-contents .join-item-description {
  margin-top: 23px;
  font-size: 16px;
  color: #999;
}
.page-footer {
  padding-top: 90px;
  padding-bottom: 75px;
  background: #1d1a33;
}
.page-footer .footer-container {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}
.page-footer .footer-container .footer-icon-container {
  height: 31px;
  margin-right: 164px;
}
.page-footer .footer-container .about-toppro-container {
  width: 224px;
  margin-right: 68px;
}
.page-footer .footer-container .about-toppro-container .about-toppro {
  font-size: 15px;
  color: #fff;
}
.page-footer .footer-container .about-toppro-container .little-block {
  width: 33px;
  height: 4px;
  margin-top: 18px;
  margin-bottom: 19px;
  background: #282441;
}
.page-footer .footer-container .about-toppro-container .toppro-content {
  font-size: 15px;
  color: #b1b1b5;
}
.page-footer .footer-container .footer-nav {
  display: flex;
  flex-direction: column;
  margin-right: 99px;
}
.page-footer .footer-container .footer-nav .footer-nav-link {
  font-size: 15px;
  color: #ffffff;
}
.page-footer .footer-container .footer-nav .small-block {
  width: 14px;
  height: 4px;
  margin-top: 18px;
  margin-bottom: 20px;
  background: #282441;
}
.page-footer .footer-container .footer-nav .footer-nav-link-item {
  margin-bottom: 14px;
  font-size: 14px;
  color: #b1b1b5;
}
.page-footer .footer-container .touch-us-container .touch-us-link {
  font-size: 15px;
  color: #fff;
}
.page-footer .footer-container .touch-us-container .petty-block {
  width: 33px;
  height: 4px;
  margin-top: 18px;
  margin-bottom: 19px;
  background: #282441;
}
.page-footer .footer-container .touch-us-container .tell-item {
  margin-bottom: 14px;
  font-size: 14px;
  color: #b1b1b5;
}
.page-footer .footer-container .touch-us-container .touch-icon-image {
  margin-right: 16px;
}
