*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.html{
	width: 1920px;
	height: 100%;
}
.page-header{
	width: 100%;
	height: 75px;
	background: #3a3b44;
}
.header-container{
	display: block;
	width: 1000px;
	height: 75px;
	margin-left: 460px;
	font-size: 0;
}
.logo-container{
	display: inline-block;
	width: 111px;
	height: 31px;
	margin-top: 21px;
	margin-bottom: 23px;
}
.nav-container{
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	width: 362px;
	height: 75px;
	line-height: 75px;
	margin-left: 66px;
}
.header-link{
	display: inline-block;
	margin-right: 50px;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
}
.header-link:nth-child(2){
	margin-right: 51px;
}
.header-link:nth-child(3){
	margin-right: 51px;
}
.header-link:last-child{
	margin-right: 0;
}
.link-container{
	display: inline-block;
    vertical-align: top;
    margin-left: 224px;
    margin-top: 20px;
    width: 220px;
    height: 36px;
}
.link-pro{
	display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    border: 1px #58a673 solid;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: #58a673;
}
.boss{
	display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    background: #58a673;
    border: 1px #58a673 solid;
    border-radius: 5px;
    color: #fff;
}
/*.mainer-container{
	00000
}*/
.banner{
	width: 100%;
	height: 645px;
	background: #3c3d46;
}
.banner-container{
	width: 1000px;
	height: 645px;
	margin: 0 auto;
	text-align: center;
}
.quote-title{
	display: inline-block;
	margin-top: 57px;
	font-size: 16px;
	color: #a0aeb9;
}
.title{
	margin-top: 36px;
    font-size: 31px;
    font-weight: 400;
    color: #fff;
}
.sub-title{
	display: inline-block;
    margin-top: 45px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #58a673;
}
.sub-title-second{
	font-size: 14px;
    color: #58a673;
}
.nice-income{
	margin-top: 86px;
	font-size: 0;
}
.nice{
	display: inline-block;
	font-size: 18px;
	color: #64646c;
}
.nice p{
	margin-top: 27px;
}
.nice:nth-child(2){
	margin-left: 207px;
	margin-right: 207px;
}
.partner{
	display: inline-block;
    width: 238px;
    height: 51px;
    margin-top: 67px;
    line-height: 51px;
    color: #58a567;
    text-decoration: none;
    border: 1px #58a567 solid;
    border-radius: 5px;
}
.mechanism-section{
	width: 100%;
	height: 590px;
	background: #3a405c;
}
.mechanism-container{
	width: 1000px;
	height: 590px;
	margin: 0 auto;
	text-align: center;
}
.mechanism-title{
	display: inline-block;
	margin-top: 74px;
	margin-bottom: 27px;
	font-size: 31px;
	font-weight: 400;
	color: #fff;
}
.mechanism-sub-title{
	font-size: 17px;
	color: #a0aeb9;
}
.team-container{
	margin-top: 31px;
}
.choose-section{
	width: 100%;
    height: 800px;
    background: #e1e6ec;
}
.choose-container{
	width: 1000px;
    height: 800px;
    margin: 0 auto;
    text-align: center;
}
.choose-title{
	display: inline-block;
	margin-top: 74px;
	font-size: 31px;
	font-weight: 400;
}
.choose-sub-title{
	margin-top: 27px;
	margin-bottom: 59px;
	font-size: 17px;
	color: #a0aeb9;
}
.choose table{
	display: inline-block;
  border: 1px #fff solid;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
}
.list-head-section-first{
	width: 305px;
	height: 66px;
  border: 1px #fff solid;
  background: #f4f6f8;
}
.list-head-section-sec{
	width: 230px;
	height: 66px;
	border: 1px solid #fff;
	background: #dfe5f2;
}
.list-head-section-three{
	width: 230px;
	height: 66px;
	border: 1px solid #fff;
	background: #e5eaf4;
}
.list-head-section-four{
	width: 233px;
	height: 66px;
	border: 1px solid #fff;
	background: #e5eaf4;
}
.list-body-section-first{
	border: 1px #fff solid;
	width: 305px;
	height: 72px;
}
.list-body-section-sec{
	width: 230px;
	height: 72px;
	border: 1px solid #fff;
}
.list-body-section-three{
	width: 230px;
	height: 72px;
	border: 1px solid #fff;
}
.list-body-section-four{
	width: 233px;
	height: 72px;
	border: 1px solid #fff;
}
.list-head-content{
	text-align: left;
}
.number{
	display: inline-block;
    width: 25px; 
    height: 24px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    margin-right: 7px;
    margin-left: 28px;
}
.green{
	background: #cdecd8;
}
.red{
	background: #edc7cc;
}   
.whitefirst{
	background: #f5f7fa;
}  
.whitesec{
	background: #f3f5f8;
}
.whitethree{
	background: #edf2f9;
}
.whitefour{
	background: #ecf1f8;
}
.whitefive{
	background: #edf2f9;
}
.whitesix{
	background: #f0f4fb;
}
.whiteseven{
	background: #eef3fa;
}
.use-section{
	width: 100%;
	height: 1250px;
  background: #f6f8fa;
}
.use-container{
	width: 1000px;
  height: 1250px;
  margin: 0 auto;
  text-align: center;
}
.use-title{
  display: inline-block;
  margin-top: 74px;
  margin-bottom: 24px;
  font-size: 31px;
  font-weight: 400;
}
.use-sub-title{
	margin-bottom: 71px;
    font-size: 17px;
    color: #a0aeb9;
}
.demand-item{
	font-size: 0;
	margin-bottom: 50px;
}
.demand-content{
   display: inline-block;
   width: 550px;
   vertical-align: top;
   text-align: left;
   margin-right: 140px;
}
.your-demand{
	display: inline-block;
	width: 550px;
	height: 86px;
	vertical-align: top;
	border-bottom: 1px solid #f2f4f6;
}
.order{
	display: inline-block;
	width: 64px;
	height: 64px;
	line-height: 64px;
	font-size: 32px;
	font-weight: 300;
	text-align: center;
	vertical-align: top;
	margin-right: 14px;
	background: #62bd82;
	border-radius: 50%;
	color: #fff;
}
.tell-demand{
	display: inline-block;
	width: 452px;
	height: 62px;
	text-align: left;
	margin-top: 2px;
}
.tell-demand-title{
	margin-bottom: 14px;
	font-size: 16px;
	color: #62bd82;
}
.tell-demand-sub-title{
	font-size: 12px;
	color: #a0aeb9;
}
.introduce-content{
	display: inline-block;
	width: 550px;
	font-size: 13px;
	text-align: left;
	color: #666;
	margin-top: 14px;
	padding-left: 14px;
}
.type{
	display: inline-block;
	width: 310px;
	height: 200px;
}
.type img{
	display: inline-block;
	border: 1px solid #a0aeb9;
}
.coop-way-section{
	width: 100%;
	height: 710px;
	background: #3d3e48;
}
.coop-way-container{
	width: 1000px;
	height: 710px;
	margin: 0 auto;
	text-align: center;
}
.coop-way-title{
	display: inline-block;
	margin-top: 69px;
	margin-bottom: 27px;
	font-size: 32px;
	font-weight: 400;
	color: #fff;
}
.coop-way-sub-title{
	margin-bottom: 55px;
	font-size: 18px;
	color: #a0aeb9;
}
.team-project{
	display: inline-block;
	margin-bottom: 91px;
	width: 1000px;
	height: 39px;
	border-bottom: 1px #40414b solid;
}
.team-project span{
	display: inline-block;
	width: 120px;
	height: 39px;
	font-size: 16px;
	color: #4f505a;
}
.team-project span:hover{
	color: #4c715f;
	border-bottom: 1px #4c715f solid;
}
.batter-team{
	text-align: left;
	font-size: 0;
}
.batter-team-content{
	display: inline-block;
	width: 602px;
	vertical-align: top;

}
.batter-team-title{
	display: inline-block;
	margin-bottom: 25px;
	font-size: 28px;
	color: #8b8b91;
}
.batter-team-sub-title{
	display: inline-block;
	width: 602px;
	font-size: 14px;
    color: #51525b;
}
.line-container{
	display: inline-block;
	margin-top: 25px;
	width: 602px;
	height: 4px;
}
.line{
	display: inline-block;
	width: 33px;
	height: 4px;
	background: #4f5058;
}
.batter-team-main-content{
	display: inline-block;
	width: 602px;
	margin-top: 29px;
	vertical-align: top;
	font-size: 14px;
	color: #65666e;
}
.batter-team-icon{
	display: inline-block;
	margin-left: 78px;
}
.learn-more{
	display: inline-block;
    width: 158px;
    height: 58px;
    border: 1px solid #425351;
    border-radius: 4px;
    color: #425351;
    margin-top: 54px;
    font-size: 18px;
    text-align: center;
    line-height: 58px;
    text-decoration: none;
}
.faq-section{
	display: inline-block;
	height: 910px;
	width: 100%;
}
.faq-container{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	font-size: 0;
}
.faq-title{
	margin-top: 78px;
    margin-bottom: 35px;
	font-size: 32px;
    font-weight: 400;

}
.faq-sub-title{
    margin-bottom: 61px;
	font-size: 18px;
    color: #a0aeb9;
    
}
.faq-item{
	height: 85px;
	margin-bottom: 24px;
	font-size: 14px;
	text-align: left;
	color: #ced2d
	border-bottom: 1px solid #f2f4f6;
	position: relative;
}
.faq-item-question{
	margin-bottom: 20px;
}
.faq-item-question::before{
	content: 'Q';
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 8px;
	text-align: center;
	background: #58a673;
	font-size: 14px;
	color: #fff;
	border-radius: 4px;
}
.faq-item-answer{
	padding-left: 34px;
}
.faq-item-answer::before{
	content: 'A';
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 9px;
	text-align: center;
	background: #58a673;
	font-size: 14px;
	color: #fff;
	border-radius: 4px;
	position: absolute;
	top: 40px;
	left: 0px;
}
.faq-item:nth-of-type(2){
	height: 134px;
	margin-bottom: 24px;
	font-size: 14px;
	text-align: left;
	border-bottom: 1px solid #f2f4f6;
}
.faq-item:nth-of-type(4){
	height: 134px;
	margin-bottom: 24px;
	font-size: 14px;
	text-align: left;
	border-bottom: 1px solid #f2f4f6;
}
.page-footer{
	display: inline-block;
    margin-top: 90px;
    width: 100%;
    height: 323px;
    background: #1d1a33;
}
.footer-container{
	width: 1000px;
	height: 323px;
    margin: 0 auto;
  
}
.footer-icon-container{
	display: inline-block;
	margin-top: 56px;
	vertical-align: top;
}
.about-toppro-container{
	display: inline-block;
	width: 224px;
	margin-top: 56px;
	margin-left: 164px;
}
.about-toppro{
	display: inline-block;
	margin-bottom: 18px;
	font-size: 15px;
	text-decoration: none;
	color: #565467;
}
.little-block{
	width: 33px;
	height: 4px;
	background: #282441;
}
.tropro-content{
	margin-top: 19px;
    font-size: 14px;
    color: #464357;
}
.footer-nav-container{
	display: inline-block;
    width: 56px;
    margin-top: 56px;
    margin-left: 98px;
    vertical-align: top;
    text-align: left;
    font-size: 14px;  
}
.footer-nav{
    display: inline-block;
    font-size: 15px;
    color: #767583;
    text-decoration: none;
    margin-bottom: 18px;
}
.small-block{
	width: 14px;
	height: 4px;
	background: #282441;
}
.first-line{
	display: block;
    margin-top: 19px;
    text-decoration: none;
    color: #4f4d5f;
}
.about-us{
	display: block;
    margin-top: 14px;
    color: #464457;
    text-decoration: none;
}
.touch-us-container{
	display: inline-block;
    vertical-align: top;
    margin-left: 99px;
    margin-top: 56px;
}
.touch-us-container a{
	display: inline-block;
	margin-bottom: 18px;
	text-decoration: none;
	font-size: 15px;
	color: #777584;
}
.petty-block{
	width: 33px;
	height: 4px;
	background: #282441;
}
.tell{
	display: block;
	margin-top: 19px;
}
.tell p{
	margin-bottom: 14px;
	font-size: 14px;
	color: #464457;
}
.touch-icon{
	font-size: 0;
}
.im{
	margin-right: 18px;
}
.bird{
	margin-right: 20px;
}
.github{
	margin-right: 18px;
}
.youtoobe{
	margin-right: 16px;
}